<h2><%= link_to 'Complete list of products', products_path %></h2>


<br/>

<%= search_form_for @search, url: search_products_path, method: :post do |f|  %>

  <div class="field">
    <%= f.text_field :title_or_description_cont %>
    <br />
    <%= f.collection_check_boxes :category_id_eq_any, Category.order(:name_cat), :id, :name_cat %>
    <br />
    <div class="actions"><%= f.submit "Search" %></div>
  </div>
<% end %>
<hr>
  <table cols="3"  >
    <tr>
      <th width="60%">Title</th>
      <th width="100px" > Created at </th>
      <th width="80px" > Cetegory </th>
      <th width="60px" > Feedbacks </th>
      <th width="40px" ></th>
      <th width="40px" ></th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product_path(product) %></td>
        <td align="center"><%= product.created_at.strftime("%-d/%m/%Y") %></td>
        <td align="center"><%= product.category.name_cat if product.category %></td>
        <td align="center"><%= product.reviews.count %></td>
        <% if (current_user != nil)&&(current_user.is_admin == true) %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product_path(product),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        <% end %>    
      </tr>
    <% end %>
  </table>

<%= will_paginate @products %>

<br/>

<div style="text-indent: 30px; font-size: 120%; font-weight: bold;">
  <% if (current_user != nil)&&(current_user.is_admin == true) %>
    <%= link_to 'Add new product', new_product_path %>
  <% end %>
</div>
