<h2>Complete list of products</h2>
<br/>

  <table cols="3"  >
    <tr>
      <th width="80%">Title</th>
      <th width="80px" >Category</th>
      <th width="40px" ></th>
      <th width="40px" ></th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product_path(product) %></td>
        <td><%= link_to product.category.name_cat, category_path(product) %></td>
        
        <% if (current_user != nil)&&(current_user.is_admin == true) %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product_path(product),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        <% end %>    
      </tr>
    <% end %>
  </table>

<br/>

<div style="text-indent: 30px; font-size: 120%; font-weight: bold;">
  <% if (current_user != nil)&&(current_user.is_admin == true) %>
    <%= link_to 'Add new product', new_product_path %>
  <% end %>
</div>
