  <h2><%= @product.title %></h2>

  <i>Description:</i>
<p>
  <%= @product.description %>
</p>
<hr>

  <h3>Leave your feedback for this product</h3>
  <%= form_for([@product, @product.reviews.build]) do |f| %>
    <p>
      <%= f.text_area :msg %>
    </p>
    <p>
      <%= f.submit 'Create feedback' %>
    </p>
  <% end %>


<h3>Feedbacks</h3>
<% @product.reviews.each do |review| %>

  <p>
    <strong>Review:</ctrong>
    <%= review.msg %>
  </p>

  <p>
    <i>HERE WILL ADD USER NAME</i>
  </p>

  <p>
    <%= link_to 'Delete review', [review.product, review],
                 method:  :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<br/>
<%= link_to 'Back', products_path %>
<%= link_to 'Edit', edit_product_path(@product) %>