  <h2><%= @product.title %></h2>

  <i>Description:</i>
<p><%= @product.description %></p>
<hr>

<% if current_user != nil %>
  <h3><%= 'Leave your feedback for this product' %></h3>
  <%= form_for([@product, @product.reviews.build]) do |f| %>
    <p><%= f.text_area :msg %></p>
    <p><%= f.submit 'Create feedback' %></p>
  <% end %>

  <% else %>
  <%= link_to 'Sign in for leave your feedback', new_user_session_path, method: :get %>
<% end %>

<h3>Feedbacks</h3>
<% @product.reviews.each do |review| %>

<% if review.id != nil %>
  <p><%= review.msg %><br/>
  <i><b>
  <%= ( (review.user.name != "") ? review.user.name : review.user.email ) if review.user %>
  </b></i></p>
  <p>
  <% if (current_user != nil)&&(current_user.is_admin == true) %>
    <%= link_to 'Delete review', [review.product, review],
                 method:  :delete,
                 data: { confirm: 'Are you sure?' } %>
  <% end %>    
  </p>
<% end %>


<% end %>

<br/>
<%= link_to 'Back to product list', products_path %>
<p>or</p>
<% if (current_user != nil)&&(current_user.is_admin == true) %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <%= link_to 'Delete', product_path(@product),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% else %>
  <%= link_to 'Sign in as Admin for delete and edit the product', new_user_session_path, method: :get %>
<% end %>
